.map {
    height: 100vh;
    width: 100%;
    cursor: pointer;
  }
  
  .game-container {
    display: grid;
    grid-template-columns: minmax(492px, 36vw) 60vw;
    grid-template-rows: auto;
    grid-gap: 8px;
  }

  .info-dashboard {
    display: grid;
    grid-template-columns: minmax(300px, 30vw) minmax(300px, 30vw);
    grid-template-rows: auto;
    grid-template-areas: 
      "table action"
      "dash dash";
  }

  .current-action {
    grid-area: action;
  }

  .player-table {
    grid-area: table;
  }

  .dashboard {
    grid-area: dash;
  }

  .dashboard-tab {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .neighborhood-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    grid-gap: 20px;
    margin-top: 11px;
  }

  .zones {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 5px;
  }

button.btn-place, button.btn-attack, button.btn-fortify {
  color: white;
}

div.bg-place, button.btn-place {
  background-color: #4d8c4d;
}

div.bg-attack, button.btn-attack {
  background-color: #8c4d4d;
}

div.bg-fortify, button.btn-fortify {
  background-color: #4d848c;
}

div.bg-inactive {
  background-color: #bcc2d1;
}

div.bg-active {
  background-color: #666663;
}

div.progress {
  height: 30px;
}

span.badge-bonus {
  font-size: 15px;
}

#root {
  font-size: medium;
}

.close-button {
  float: right;
}

.center {
  text-align: center;
}

/* select.number-select {
  width: 30px;
  float: right;
} */

.neighborhood {
  padding: 15px;
}

.conquer {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.turn-indicator {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

.card-img {
  object-fit: cover;
  width: 100px;
  height: 120px;
}

.card-neighborhood {
  margin-top: 12px;
  margin-bottom: 15px;
}

.main-title {
  display: block;
  margin-top: 25vh;
}

.menu-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  width: 60vw;
}

.main-menu {
  display: grid;
  grid-template-columns: 30vw 30vw;
  justify-items: center;
  align-items: center;
  grid-template-areas: 
    "resume resume"
    "create join";
}

.resume-game {
  grid-area: resume;
}

.create-game {
  grid-area: create;
  width: 70%;
  margin-top: 18px;
}

.create-options {
  font-size: small;
}

.join-game {
  grid-area: join;
  margin-top: 20px;
}

.die-img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.attack-fronts, .defense-fronts {
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: 57px 57px;
  /* grid-gap: 10px; */
  justify-content: center;
  margin-bottom: 10px;
}

.fronts {
  display: grid;
  grid-template-columns: 70px 70px;
  justify-content: center;
}

/* .front {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px;
  align-items: center;
  justify-content: center;
  margin: 5px;
  grid-template-areas: 
    "first second third";
} */

/* .first-front {
  grid-area: first;
}

.second-front {
  grid-area: second;
}

.third-front {
  grid-area: third;
} */

.front-attack, .front-defense {
  padding: 10px;
  margin-bottom: 2px;
}

.new-player {
  width: 20%;
  display: inline-block;
}

.lobby, .game-load {
  margin-top: 40vh;
}


.hand-card {
  cursor: pointer;
}

/* .defend-form {
  justify-content: center;
} */

.defend-label, .defend-select {
  width: 100%;
}

.tab-help {
  margin-top: 60px;
}

.help-title {
  margin-bottom: 15px;
}

.help-header {
  margin-top: 5px;
  margin-bottom: 12px;
}

.help-subhead {
  margin-bottom: 15px;
}

.help-pg {
  margin-bottom: 15px;
}

.card-example {
  margin-bottom: 40px;
}

.end-turn {
  margin-top: 36px;
}

.end-attack {
  margin-top: 58px;
}

/* .cards {
  margin-top: 11px;
} */

.card-actions {
  margin-top: 15px;
  /* margin-bottom: ; */
}

.view-zone {
  margin-bottom: 8px;
}

.zone-neighborhoods {
  margin-top: 15px;
}

table.sets-table {
  margin-left: 40px;
  width: 33%;
}

table.defend-table {
  width: 55%;
  margin-right: auto;
  margin-left: auto;
}

table.battle-table {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}